:root {
  --bg:  #202124;
  --bg-nav:  #24292f;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 65px;
  --border-color: #d0d7de;
  --border-radius: 6px;
  --spacing: 20px;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif, Arial;
}

body, #root {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.example {
  color: #1f65ac;
  text-decoration: underline;
}

.example:hover{
  color: rgb(0, 22, 43);
}

.navbar {
  height: var(--nav-size);
  width: 100%;
  background-color: var(--bg-nav);
  padding: 0 0 0 250px;
  /* border-bottom: var(--border); */
  position: fixed;
  top: 0;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 100%;
  height:100%;
  display: flex;
  justify-content: space-between;
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-search-bar-button {
  height: calc(var(--nav-size)*0.5);
  width: calc(var(--nav-size)*0.5);
  border-radius: 100%;
  border-style: none;
  background-color: rgb(224, 224, 224);
  transition: all 0.5s;
}

.nav-search-bar-button:hover{
  background-color: rgb(141, 141, 141);
}

.nav-search-bar {
  height: calc(var(--nav-size)*0.6);
  width: 190px;
  font-size: 17px;
  color: rgb(189, 189, 189);
  background-color: var(--bg-nav);
  padding-left: 5px;
  margin: 0 10px 0px 7px;
  border: var(--border-color) solid 1px;
  border-radius: var(--border-radius);
  transition: width 0.2s ease;
}

.nav-search-bar:focus{
  color: black;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  width: 270px;
}
.nav-search-bar:valid {
  width: 270px;
}

.nav-items {
  display: flex;
  flex-wrap: nowrap;
}

.nav-item {
  /* width: calc(var(--nav-size)*0.8); */
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-accent);
}

.text-button {
  margin: 5px;
  height: calc(var(--nav-size) * 0.5);
  background: rgb(119, 119, 119);
  transition: all 0.3s ease;
}

.text-button:hover { 
  filter: brightness(120%);
}

/* Loader */
#loader {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
  /* background: white; */
}

.spinner {
  /* margin: 100px auto 0; */
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgb(12, 22, 44);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 0.9s infinite ease-in-out both;
  animation: sk-bouncedelay 0.9s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(0.5) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

#error-center div{
  text-align: center;
}

.error-emoji {
  font-size: 40px;
  margin: 50px 0;
  color: rgb(31, 31, 31);
}

.error-jap {
  margin-top: 20px;
}

.app {
  height: 100vh;
  /* background: #f6f8fa; */
}

.card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;  
  margin: 10px;
  border: 1px var(--border-color) solid;
  border-radius: var(--border-radius);
  border-bottom-left-radius: 6px;
  transition: 0.3s;
}

.card:hover {
  background-color: rgb(218, 218, 218);
}

.card-text {
  font-size: 18px;
}

.history-heading {
  font-size: 17px;
  padding: 6px 5px 2px 5px;
  border: 1px var(--border-color) solid;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.num-results {
  font-size: 13px;
}

.history-item {
  padding: 7px 5px;
  border-top: 1px solid var(--border-color);
}

#test{font-weight: 900;}
.icon {
  font-size: 20px;
}

.icon:hover {
  color: gray;
}

#welcome-container {
  color: var(--bg-nav);
  padding: var(--spacing);
}

article {
  max-width: 800px;
  word-spacing: 2px;
}

#welcome-message {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
}


.main-content {
  height: 100%;
  padding-top: var(--nav-size); /* So our content starts after the nav bar*/
  display: grid;
  grid-template-columns: 250px 1fr;
  /* grid-template-columns:  */
}

.history {
  grid-column: 1;
  grid-row: 1;
  border-right: 1px var(--border-color) solid;
  font-size: 15px;
  padding: var(--spacing);
  color: var(--bg-nav);
}

.history-table {
  border: var(--border-color) solid 1px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.history-table > div:first-child{
  font-weight: 600;
}
.history-table > div:nth-child(odd) {
  background-color: #f6f8fa;
}


.results-container {
  grid-column: 2;
  grid-row: 1;
  background: #f6f8fa;
  height: 100%;
}


@media screen and (max-width:1500px) {
  .main-content {
    grid-template-columns: 200px 1fr;
  }
  .history {
    grid-column: 1;
  }
  .results-container {
    grid-column: 2;
  }
  .navbar {
    padding: 0 0 0 200px;
  }
}

@media screen and (max-width:800px) {
  .error-emoji {
    font-size: 20px
  }
  .card-text {
    font-size: 16px;
  }
  .main-content {
    grid-template-columns: 100%;
  }
  .results-container {
    grid-column: 1;
  }
  .history {
    display: none;
  }
  .navbar {
    padding: 0px;
  }
}

