:root {
  --bg: rgb(33,33,33);
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
}

body, #root {
  margin: 0;
}

ul { 
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height:100%;
  display: flex;
  justify-content: space-between;
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-search-bar {
  height: calc(var(--nav-size)*0.6)
}

.nav-items {
  display: flex;
  flex-wrap: nowrap;

}

.nav-item {
  /* width: calc(var(--nav-size)*0.8); */
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-accent);
}

.text-button {
  margin: 5px;
  height: calc(var(--nav-size) * 0.5);
  background: white;
}